/*
 * Base reset and normalization
 */

html {
	box-sizing: border-box;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
dl,
dd {
	margin: 0;
}

ol,
ul {
	padding: 0;
}

ul,
ol {
	list-style: none;
}

img,
picture,
svg,
video,
canvas {
	display: block;
	max-width: 100%;
}

img {
	height: auto;
	border-style: none;
}

iframe,
embed,
object {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	line-height: inherit;
	color: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

textarea {
	overflow: auto;
	resize: vertical;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

button {
	padding: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

legend {
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
}

summary {
	display: list-item;
	cursor: pointer;
}

details {
	display: block;
}

template,
[hidden] {
	display: none;
}